@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: #202142;
  color: #fff;
  line-height: 1.6;
}
h2 {
  display: flex;
  justify-content: space-around;
  font-size: 36px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 500;
}
ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
}

.card.reverse {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.card h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.display {
  position: relative;
  background: #f4f4f4;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
}

.display {
  background: #98751c;
  color: #fff;
}

.text-display {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 2fr;
}
.form-container {
  display: grid;
  grid-gap: 10px;
}
.input-group {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  /* border: 1px solid #ccc; */
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

input {
  flex-grow: 2;
  border: none;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}

input:focus {
  outline: none;
}

input::placeholder {
  padding: 10px;
}
.search-container {
  display: grid;
  position: relative;
}

.search-box {
  margin: 0 auto;
  padding: 8px 10px;
  width: 300px;
  border-radius: 8px;
}
.search-icon {
  position: absolute;
  top: 10px;
  left: 110px;
}
.display {
  position: absolute;
  top: -10px;
  left: -10px;
}

.close,
.edit {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.edit {
  right: 40px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.btn-primary {
  background-color: #202142;
}

.btn-secondary {
  background: #98751c;
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

@media (max-width: 600px) {
}
.input-group input {
  width: 80%;
}
